.landingPage {
    height: 100vh;
    text-align: center;
    background-image: $blackGrade, url(../../../assets/heroImg2.gif);
    background-position: bottom;
    background-size: cover;
}

@keyframes rotate {
    0% {
        transform: rotate(2deg)
    }
    
    50%{
        transform: rotate(-2deg)
    }
    
    100%{
        transform: rotate(2deg)
    }
}

.landingPage h1 {
    animation:rotate 1s linear infinite;
    font-size: 100px;
    padding: 100px 0;
    color: $orange;
    line-height: 150px;
}

.landingPage span {
    display: block;
}

.landingPage h3 {
    line-height: 30px;
    margin: 20px;
    color: $lightPurple;
}

.landingPage p {
    text-align: left;
    margin-left: 50px;
    color: $lightPurple;
}

.nameForm {
    margin-top: 50px;
}

.nameForm input {
    padding: 30px;
    margin-bottom: 20px;
    background: transparent;
    color: #dbdbff;
    border: none;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    font-family: $fontFam;
    font-size: 20px;
}
 
.nameForm input::placeholder { 
    font-family: $fontFam;
    font-size: 20px;
    color: $lightPurple;
}

@keyframes flash {
    0% {
        opacity: 1
    }
    
    25% {
        opacity: 0
    }
    
    75% {
        opacity: 0
    }
    
    100% {
        opacity: 1
    }
}

.nameForm h5 {
    animation:flash 1.9s linear infinite;
    color: #dbdbff;
}