.game {
    text-align: center;
    background: $white;
    height: 100vh;
}

.game .wrapper {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.timer {
    padding: 5vh 0;
    margin-top: 8px;
    color: $white;
    background-image: $blackGrade, url(../../../assets/timerBackground.png);
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
}

.chopClick {
    width: 90%;
    height: 10vh;
    margin: 8px 0px;
    font-size: 40px;
}

.game input[type=submit]{
    font-family: $fontFam;
    color: $white;
    background-color: $orange;
    border-radius: $borderRad;
    text-transform: uppercase;
    padding: 7px;
    border: $border $brown;
}

.game input[type=submit]:active {
    transform: scale(1.03);
    box-shadow: $borderShad;
}

.gameBoard {
    display: flex;
    line-height: 40px;
}

.gameBoard input {
    display: inline-block;
}

.TCBox, .approval, .tourney  {
    color: $lightPurple;
    height: 74vh;
}

