.TCBox {
    background-image: $greyGrade, url(/assets/dojo.png);
    background-position: center;
    background-size: cover;
    width: 80%;
    position: relative;
    border-left: $border $brown;
    border-top: $border $brown;
    border-bottom: $border $brown;
}

.chopText {
    display: flex;
    padding: 10px 0;
}

.chops, .mastery {
    width: 50%;
    line-height: 35px;
    padding: 25px 0;
}

.spriteOne , .spriteTwo {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    margin: 40px 0;
    width: 100%;
}

.spriteOne {
    background-image: url(../../../assets/Sprites/chopSprite1.png);
    position: absolute;
    left: 2.5px;
}

.spriteTwo {
    background-image: url(../../../assets/Sprites/chopSprite2.png);
    position: block
}